body {
  margin: 0;
  padding: 0;
}
#background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}
h1,
.text {
  font-family: sans-serif;
}
h1 {
  color: white;
  font-size: 46px;
  margin-left: 10vw;
  /* text-align: center; */
}
.text {
  color: white;
  margin-left: 5vw;
}
